.navbar{
  margin-bottom: 0;
  padding-left:150px;
  font-weight: bold;
}
a#logo{
  color: #00AC9A;
}
#navbar a {
  color: gray;
}
.navbar-toggle{
  border-color: gray;
}
.icon-bar{
  background-color: gray;
}

.jumbotron{
  padding:0;        
}      
.jumbotron .backimg{
  background:#000 url('../img/site_showcase_bg.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  padding: 0 150px;
  padding-top: 50px;
  text-align: left;               
}
.jumbotron h1{
  margin-top:33%;
  color: white;
  font-weight: bold;
}
.jumbotron h1 span{
  color: #00AC9A;
}
.jumbotron p{
  color: white;
}
.jumbotron a img{
  max-width: 200px;
}

.marketing {
  padding: 40px 180px;
}     
.marketing img{
  border: 1px solid gray;
}

.listcamera{
  background-color: #00AC9A;
  margin-top: 40px;
  padding: 20px 300px;
  color:white;
  font-size: 120%;
}
.listcamera li{        
  font-weight: bold;
  line-height: 2em;  
  display:block;      
}
.listcamera li span{
  padding-left: 8px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#camera{
  border:none;  
  width: 70%;        
}

footer{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 20px 180px;
  background-color: #2e2e2e;
  color: white;
  text-align: left;
}
footer p{
  text-align: right;
}
footer a {
  color: #fff;
}
footer a:hover{
  text-decoration: none;
  color: #00AC9A;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li {
  display: inline-block;
  margin-right: 10px;

}

/* OTHER PAGES */
/* CONTACT  PAGE */

.headerPage{
  background-color: #00AC9A;  
  padding: 0 180px;
  color:white; 
}

.main-content{
  padding: 30px 180px;
}

.form-group label{
  margin-top:15px;
}



/* MEDIA QUERIES */
/*==========  Non-Mobile First Method  ==========*/

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .navbar, .main-content{
      padding-left:100px;            
    }
    .jumbotron .backimg{
      padding:60px 100px;            
    }
    .jumbotron h1{
      margin-top: 0;
      padding-bottom: 20px;            
    }
    .marketing, .listcamera, footer {
        padding: 20px 100px;
    }
    #camera{
      border:none;  
      width: 40%;        
    }
    .headerPage{
      padding-left:115px;            
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .jumbotron .backimg{
      padding: 40px 15px;            
      text-align: center;               
    }
    .jumbotron h1{
      margin-top: 0;            
    }
    .navbar{
      padding-left: 15px;
    }
    .marketing {
        padding: 15px;
    }
    .listcamera {
      margin-top: 10px;
      padding: 15px;            
      font-size: 120%;
    } 
    footer{         
      margin: 0 auto;   
      padding: 15px 0;
      font-size: 80%;            
    }
    footer p{
      padding-top:10px;
      text-align: center;
    }
    .headerPage{
      padding: 0;
    }
    .headerPage h1{
      padding-left: 40px;
    }

    .main-content{
      padding: 20px 28px; 
    }   
    
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .jumbotron .backimg{
      background:#000;               
    }
    #camera{
      border:none;  
      width: 70%;        
    }    
    footer{
      text-align: center;
    }    
    
  }  
